h1 {
    color: Black;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 1em 2em;
    color: #ffffff;
    background-color: #2980b9;
    font-size: 1em;
}